{{#if parents}}
  <ul {{{class 'parents'}}}>
    {{#each parents}}
      <li>
        <div {{{class 'parent'}}} data-idx="{{idx}}">{{{text}}}</div>
        <span {{{class 'icon-arrow-right'}}}></span>
      </li>
    {{/each}}
  </ul>
{{/if}}
<div {{{class 'breadcrumb'}}}>
  {{{name}}}
</div>
{{#if children}}
  <ul {{{class 'children'}}}>
    {{#each children}}
      <li class="eruda-child {{#if isCmt}}eruda-green{{/if}} {{#if isEl}}eruda-active-effect{{/if}}" data-idx="{{idx}}">{{{text}}}</li>
    {{/each}}
  </ul>
{{/if}}

<div {{{class 'section'}}}>
    <h2>Element Html Code

        <div {{{class 'btn copy-element-html'}}}>
            <span><svg t="1592563239113" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2141" width="24" height="24"><path d="M433.2 286.9V304c0 18.6-15.1 33.8-33.8 33.8-18.6 0-33.8-15.1-33.8-33.8v-34c0-28 22.7-50.6 50.6-50.6h337.6c28 0 50.6 22.7 50.6 50.6v337.6c0 28-22.7 50.6-50.6 50.6h-34c-18.6 0-33.8-15.1-33.8-33.8 0-18.6 15.1-33.8 33.8-33.8h17.1V286.9H433.2zM286.9 433.2V737h303.8V433.2H286.9z m-16.8-67.5h337.6c28 0 50.6 22.7 50.6 50.6v337.6c0 28-22.7 50.6-50.6 50.6H270.1c-28 0-50.6-22.7-50.6-50.6V416.4c-0.1-28 22.6-50.7 50.6-50.7z" p-id="2142"></path></svg></span>
        </div>
        <div {{{class 'btn show-element-html'}}}>
            <span {{{class 'icon icon-eye'}}}></span>
        </div>
    </h2>
</div>

<div {{{class 'section'}}}>
    <h2>Hide Element Rule
        <div {{{class 'btn copy-hide-element-rule'}}}>
            <span><svg t="1592563239113" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2141" width="24" height="24"><path d="M433.2 286.9V304c0 18.6-15.1 33.8-33.8 33.8-18.6 0-33.8-15.1-33.8-33.8v-34c0-28 22.7-50.6 50.6-50.6h337.6c28 0 50.6 22.7 50.6 50.6v337.6c0 28-22.7 50.6-50.6 50.6h-34c-18.6 0-33.8-15.1-33.8-33.8 0-18.6 15.1-33.8 33.8-33.8h17.1V286.9H433.2zM286.9 433.2V737h303.8V433.2H286.9z m-16.8-67.5h337.6c28 0 50.6 22.7 50.6 50.6v337.6c0 28-22.7 50.6-50.6 50.6H270.1c-28 0-50.6-22.7-50.6-50.6V416.4c-0.1-28 22.6-50.7 50.6-50.7z" p-id="2142"></path></svg></span>
        </div>
    </h2>
    <div {{{class 'content'}}}>
        <div {{{class 'text-content'}}}>
            {{ ruleText }}
        </div>
    </div>
</div>

<div {{{class 'attributes section'}}}>
  <h2>Attributes</h2>
  <div {{{class 'table-wrapper'}}}>
    <table>
      <tbody>
      {{#if attributes}}
        {{#each attributes}}
          <tr>
            <td class="eruda-attribute-name-color">{{name}}</td>
            <td class="eruda-string-color">{{{value}}}</td>
          </tr>
        {{/each}}
      {{else}}
        <tr>
          <td>Empty</td>
        </tr>
      {{/if}}
      </tbody>
    </table>
  </div>
</div>
{{#if styles}}
  <div {{{class 'styles section'}}}>
    <h2>Styles</h2>
    <div {{{class 'style-wrapper'}}}>
      {{#each styles}}
        <div {{{class 'style-rules'}}}>
          <div>{{selectorText}} {</div>
          {{#each style}}
            <div {{{class 'rule'}}}>
              <span>{{@key}}</span>: {{{.}}};
            </div>
          {{/each}}
          <div>}</div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
{{#if computedStyle}}
  <div {{{class 'computed-style section'}}}>
    <h2>
      Computed Style
      {{#if rmDefComputedStyle}}
        <div {{{class 'btn toggle-all-computed-style'}}}>
          <span {{{class 'icon-compress'}}}></span>
        </div>
      {{else}}
        <div {{{class 'btn toggle-all-computed-style'}}}>
          <span {{{class 'icon-expand'}}}></span>
        </div>
      {{/if}}
      <div {{{class 'btn computed-style-search'}}}>
        <span {{{class 'icon-search'}}}></span>
      </div>
      {{#if computedStyleSearchKeyword}}
        <div {{{class 'btn search-keyword'}}}>
          {{computedStyleSearchKeyword}}
        </div>
      {{/if}}
    </h2>
    <div {{{class 'box-model'}}}>
      {{#if boxModel.position}}<div {{{class 'position'}}}>
        <div {{{class 'label'}}}>position</div><div {{{class 'top'}}}>{{boxModel.position.top}}</div><br><div {{{class 'left'}}}>{{boxModel.position.left}}</div>{{/if}}{{!
        }}<div {{{class 'margin'}}}>
          <div {{{class 'label'}}}>margin</div><div {{{class 'top'}}}>{{boxModel.margin.top}}</div><br><div {{{class 'left'}}}>{{boxModel.margin.left}}</div>{{!
          }}<div {{{class 'border'}}}>
            <div {{{class 'label'}}}>border</div><div {{{class 'top'}}}>{{boxModel.border.top}}</div><br><div {{{class 'left'}}}>{{boxModel.border.left}}</div>{{!
            }}<div {{{class 'padding'}}}>
              <div {{{class 'label'}}}>padding</div><div {{{class 'top'}}}>{{boxModel.padding.top}}</div><br><div {{{class 'left'}}}>{{boxModel.padding.left}}</div>{{!
              }}<div {{{class 'content'}}}>
                <span>{{boxModel.content.width}}</span>&nbsp;×&nbsp;<span>{{boxModel.content.height}}</span>
              </div>{{!
              }}<div {{{class 'right'}}}>{{boxModel.padding.right}}</div><br><div {{{class 'bottom'}}}>{{boxModel.padding.bottom}}</div>{{!
              }}</div>{{!
            }}<div {{{class 'right'}}}>{{boxModel.border.right}}</div><br><div {{{class 'bottom'}}}>{{boxModel.border.bottom}}</div>{{!
          }}</div>{{!
          }}<div {{{class 'right'}}}>{{boxModel.margin.right}}</div><br><div {{{class 'bottom'}}}>{{boxModel.margin.bottom}}</div>{{!
        }}</div>{{!
        }}{{#if boxModel.position}}<div {{{class 'right'}}}>{{boxModel.position.right}}</div><br><div {{{class 'bottom'}}}>{{boxModel.position.bottom}}</div>{{!
      }}</div>{{/if}}
    </div>
    <div {{{class 'table-wrapper'}}}>
      <table>
        <tbody>
        {{#each computedStyle}}
          <tr>
            <td {{{class 'key'}}}>{{@key}}</td>
            <td>{{{.}}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{/if}}
{{#if listeners}}
  <div {{{class 'listeners section'}}}>
    <h2>Event Listeners</h2>
    <div {{{class 'listener-wrapper'}}}>
      {{#each listeners}}
         <div {{{class 'listener'}}}>
           <div {{{class 'listener-type'}}}>{{@key}}</div>
           <ul {{{class 'listener-content'}}}>
             {{#each .}}
               <li {{#if useCapture}}{{{class 'capture'}}}{{/if}}>{{listenerStr}}</li>
             {{/each}}
           </ul>
         </div>
      {{/each}}
    </div>
  </div>
{{/if}}
